<form method="post" action="/member_classes/<%=@member_class.id %>" >

<label for="member-id">Member Id</label>
<input type="number" name="member_id" id="member-id" value="<%=@member.member_id %>"/>




<label for="fitness-class-id">Fitness Id</label>
<input type="number" name="fitness_class_id" value="<%=@fitness_class.fitness_class_id %>"/>

<input type="submit" value="Save Edits">

</form>
