<body>
<h1>Member List gym_app</h1>
<div>
<div id="button"><a href="/members/new">Click here to add new member</a></div>
</div>
  <hr/ >
<div class="grid">
  <% @members.each do |member| %>
  <p>Member name: <%= member.first_name() %> <%= member.second_name() %> </p>
  <p>Membership Tier: <%= member.membership_tier %> </p>
  <p><a href="/members/<%= member.id %>">Show member</a></p>
  <hr />
  <% end %>
</div>
</body>
