<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Members</title>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" >
  </head>
  <body>
<nav>
  <ul>
    <li>
      <p><a href="/members"> <strong>Members</strong></a></p>
      <p><a href="/fitness_classes"> <strong>Fitness Classes</strong></a></p>
    </li>
  </ul>
</nav>
<%= yield %>
  </body>
</html>
