<form action="/member/new" method="post">
<label for="first-name">First Name</label>

<input id="first-name" type="text" name="first_name" >

<label for="second-name">Second Name</label>
<input id= "second-name" type="text" name="second_name" >

<label for="membership-tier">Membership Tier</label>
<select name="membership-tier">
  <option value="Premium">Premium</option>
  <option value="Standard">Standard</option>
</select>


</form>
