<form action="/members/new" method="post">

<label for="first-name">First Name</label>
<input id="first-name" type="text" name="first_name" >

<label for="second-name">Second Name</label>
<input id= "second-name" type="text" name="second_name" >

<label for="membership-tier">Membership Tier</label>
<select name="membership-tier">
  <option value="Premium">Premium</option>
  <option value="Standard">Standard</option>
</select>

<label for="class-name">Class Name</label>
<select name="class-name">
  <option value="Taskforce Bruiser">Taskforce Bruiser</option>
  <option value="Red Dawn">Red Dawn</option>
  <option value="They are really close">They are really close</option>
  <option value="Fight Club">Fight Club</option>
  <option value="Black Eye Friday">Black Eye Friday</option>
</select>

<select name="class-time">
    <option value="05:00">05:00</option>
    <option value="06:00">06:00</option>
    <option value="07:00">07:00</option>
    <option value="08:00">08:00</option>
    <option value="09:00">09:00</option>
    <option value="10:00">10:00</option>
    <option value="11:00">11:00</option>
    <option value="12:00">12:00</option>
    <option value="13:00">13:00</option>
    <option value="14:00">14:00</option>
    <option value="15:00">15:00</option>
    <option value="16:00">16:00</option>
    <option value="17:00">17:00</option>
    <option value="18:00">18:00</option>
    <option value="19:00">19:00</option>
    <option value="20:00">20:00</option>
</select>

<label for="max-class-size">Max Class Size</label>
<input id="max-class-size" type="number" name="max_class_size">

<input type="submit" name="submit" value="submit">



</form>
