<div class="show">
<form action="/fitness_classes" method="post">

<label for="fitness-class-name">Class Name</label>
<input id="fitness-class-name" type="text" name="fitness_class_name" />

<label for="fitness-class-time">Fitness Class Time</label>
<input id="fitness-class-time" type="time" required name="fitness_class_time"/>

<label for="peak-category">Peak or off peak?</label>
<select name="peak_category" id="peak-category">
  <option value="peak">Peak</option>
  <option value="off peak">Off Peak</option>
</select>

<label for="fitness-class-max-size">Maximum Size Class</label>
  <input id="fitness-class-max-size" type="number" min=0 name="fitness_class_max_size" />

<input type="submit" value="submit">

</form>
</div>
