<div class="show">
<form action="/member_classes" method="post">

<label for="member-id">Member Id</label>
<input
id="member-id"
type="number"
name="member_id"/>

<label for="fitness-class-id">Fitness Class Label</label>
<input id="fitness-class-id" type="number" name="fitness_class_id" />

<input type="submit"  value="submit">

</form>
</show>
