<p>First Name: <%= @member.first_name %></p>
<p>Second Name: <%= @member.second_name %></p>
<p>Membership Tier: <%= @member.membership_tier %></p>
<p><a href="/members/<%= @member.id %>/edit">Edit Members</a></p>
