<p>Member Id: <%= @member_class.member_id %></p>
<p>Fitness Classes Id: <%= @member_class.fitness_class_id> %></p>

<p><a href="/member_classes/<%= @member_class.id%>/edit">Edit Class Enrollment</a></p>
