h1{
  font-family: 'Black Ops One', cursive;
}
body {
  background-color: #AFEEEE;
  background-image: url('/iron_lodge.jpg');
  background-size: 100% 100%;
  font-family: 'Black Ops One';
  color: white;
}

a {
    color: #7CFC00;
}

a:hover{
  color: #DA70D6;
}

input[type=submit] {
    background:#778899;
    font-weight: bold;
    color: white;
}

input:hover[type="submit"] {
background: #DC143C;
}

select:hover {
  background: yellow;
}

#button {
    width: 18em;
    height: 2em;
    text-align: center;
    padding: 10px 0;
    border: 2px solid green;
    background: orange;
    border-radius: 5px;
}
