h1{
  font-family: 'Black Ops One', cursive;
  padding-top: 70px;
}
body {
  background-image: url('/iron_lodge.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Black Ops One';
  color: white;
  margin-left: 20px;
}

a {
    color: #7CFC00;
}

a:hover{
  color: #DA70D6;
}

input[type=submit] {
    background:#778899;
    font-weight: bold;
    color: white;
}

input:hover[type="submit"] {
background: #DC143C;
}

select:hover {
  background: yellow;
}

.button {
  background-color: #7CFC00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

ul{
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #111;
}

li a.active {
  background-color: #7CFC00;
}

.show {
  padding-top: 100px;
}

.show_h1 {
  padding-top: 5px;
}
